.page-intro {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.page-intro p {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.page-intro p.slogan {
    color: #FF6B2C;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
    background-color: #FF6B2C;
    border-radius: 15px;
}

.left,
.right {
    flex: 1 1 300px;
}

.left {
    background-color: aliceblue;
    border-radius: 15px;
    padding: 25px;
}

.right input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0 15px;
}

.right textarea {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0 15px;
}

iframe {
    max-width: 450px;
    border-radius: 15px;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    height: 50px;
    width: 100%;
    border-radius: 20px;
}